@page
@model FribergRentals.Pages.AppUser.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ImageUrls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ImageUrls)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.Id">Book</a> |
    <a asp-page="./Browse">Back</a>
</div>
