@page
@model FribergRentals.Pages.AppUser.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card-center">
    <div class="grid-item">
        <h1 class="card-title">@Html.DisplayFor(model => model.Car.Brand)  @Html.DisplayFor(model => model.Car.Model)</h1>
        <img class="card-image" src="@Html.DisplayFor(model=>model.Car.ImageUrl)" />
        <p class="card-text">@Html.DisplayFor(model => model.Car.Description) <br /><br />
            Price per day: @Html.DisplayFor(model => model.Car.Price)
        </p>
        <p></p>
        <div class="button-row">
            <a asp-page="./Book" asp-route-id="@Model.Car.Id"><button class="button">Select Dates</button></a>
            <a asp-page="./Browse"><button class="button">Back</button></a>
        </div>
    </div>
</div>

