@page
@model FribergRentals.Pages.Admin.ManageContent.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    if (string.IsNullOrEmpty(HttpContext.Request.Cookies["SessionToken"]))
    {
        HttpContext.Response.Redirect("/Login/SessionExpired");
    }
}

<div class="card-center">
    <h1>Details</h1>
    <div class="card-text">
        <span class="input-label">
            @Html.DisplayNameFor(model => model.Order.Id):
        </span>
        @Html.DisplayFor(model => model.Order.Id)<br />

        <span class="input-label">
            Time of Order:
        </span>
        @Html.DisplayFor(model => model.Order.TimeOfOrder)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model=>model.Order.User.Email)
        </span>
        @Html.DisplayFor(model => model.Order.User.Email)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Order.Car.Brand):
        </span>
        @Html.DisplayFor(model => model.Order.Car.Brand)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Order.Car.Model):
        </span>
        @Html.DisplayFor(model => model.Order.Car.Model)<br />

        <span class="input-label">
            Total Price:
        </span>
        <span class="wrap">@Html.DisplayFor(model => model.Order.TotalPrice)</span> <br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Order.PickUpDate):
        </span>
        @Html.DisplayFor(model => model.Order.PickUpDate)<br />

    </div>
    <div class="button-row">
        <a asp-page="./Index"><button class="button">Back</button></a>
    </div>
</div>



