@page
@model FribergRentals.Pages.Admin.ManageContent.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
    if (string.IsNullOrEmpty(HttpContext.Request.Cookies["SessionToken"]))
    {
        HttpContext.Response.Redirect("/Login/SessionExpired");
    }
}

<div class="admin-table-container">
    <table class="admin-table">
        <thead class="admin-thead">
            <tr class="admin-tr">
                <th class="admin-th">
                    Order ID
                </th>
                <th class="admin-th">
                    Time of Order
                </th>
                <th class="admin-th">
                    @Html.DisplayNameFor(model => model.Order[0].User.Email)
                </th>
                <th class="admin-th">
                    @Html.DisplayNameFor(model => model.Order[0].Car.Brand)
                </th>
                <th class="admin-th">
                    @Html.DisplayNameFor(model => model.Order[0].Car.Model)
                </th>
                <th class="admin-th">
                    @Html.DisplayNameFor(model => model.Order[0].PickUpDate)
                </th>
                <th class="admin-th">
                    @Html.DisplayNameFor(model => model.Order[0].ReturnDate)
                </th>
                <th class="admin-th">
                    Total Price
                </th>
                <th class="admin-th"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order)
            {
                <tr class="admin-tr hover">
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem=>item.TimeOfOrder)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.Car.Brand)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.Car.Model)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.PickUpDate)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                    <td class="admin-td">
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td class="admin-td">
                        <div class="button-row">
                            <a asp-page="./Details" asp-route-id="@item.Id"><button class="button adminButtons">Details</button></a>
                            <a asp-page="./Delete" asp-route-id="@item.Id">
                                <button class="button adminButtons danger">
                                    <span class="material-symbols-outlined">
                                        Delete
                                    </span>
                                </button>
                            </a>
                        </div>                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
