@page
@model FribergRentals.Pages.Admin.ManageContent.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="card-center">
    <h1 class="card-title">Delete</h1>
    <h3>Are you sure you want to delete this?</h3>

   
    <div class="card-text">
        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Brand):
        </span>
        @Html.DisplayFor(model => model.Car.Brand)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Model):
        </span>
        @Html.DisplayFor(model => model.Car.Model)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Description):
        </span>
        @Html.DisplayFor(model => model.Car.Description)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Price):
        </span>
        @Html.DisplayFor(model => model.Car.Price)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.ImageUrl):
        </span>
        <span class="wrap">@Html.DisplayFor(model => model.Car.ImageUrl)</span> <br />
       
    </div>
    <form method="post">
        <input type="hidden" asp-for="Car.Id" />
        <div class="button-row">
            <input class="button danger" type="submit" value="Delete" />
            <a asp-page="./Index"><button type="button" class="button">Back</button></a>
        </div>
    </form>
</div>
