@page
@model FribergRentals.Pages.Admin.ManageContent.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card-center">
    <h1>Details</h1>
    <div class="card-text">
        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Brand):
        </span>
        @Html.DisplayFor(model => model.Car.Brand)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Model):
        </span>
        @Html.DisplayFor(model => model.Car.Model)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Description):
        </span>
        @Html.DisplayFor(model => model.Car.Description)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.Price):
        </span>
        @Html.DisplayFor(model => model.Car.Price)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.Car.ImageUrl):
        </span>
        <span class="wrap">@Html.DisplayFor(model => model.Car.ImageUrl)</span> <br />
    </div>
    <div class="button-row">
        <a asp-page="./Edit" asp-route-id="@Model.Car.Id"><button class="button">Edit</button></a>
        <a asp-page="./Index"><button class="button">Back</button></a>
    </div>
</div>
