@page
@model FribergRentals.Pages.Admin.ManageContent.Cars.IndexModel

@{
    ViewData["Title"] = "All Cars";
}


<div class="admin-table-container">
<table class="admin-table">
    <thead class="admin-thead">
        <tr class="admin-tr">
            <th class="admin-th">
                Thumbnail
            </th>
            <th class="admin-th">
                @Html.DisplayNameFor(model => model.Car[0].Brand)
            </th>
            <th class="admin-th">
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th class="admin-th" colspan="2">
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
        </tr>
    </thead>
    <tbody class="admin-tbody">
@foreach (var item in Model.Car) {
            <tr class="admin-tr hover">
                <td class ="admin-td">
                <img class="table-thumbnail" src="@Html.DisplayFor(modelItem=>item.ImageUrl)"/>
                </td>
                <td class="admin-td">
                @Html.DisplayFor(modelItem => item.Brand)
                </td>
            <td class="admin-td">
                @Html.DisplayFor(modelItem => item.Model)
             </td>
             <td class="admin-td">
                @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="admin-td">
                    <div class="button-row">
                        <a asp-page="./Edit" asp-route-id="@item.Id"><button class="button adminButtons">Edit</button></a>
                        <a asp-page="./Details" asp-route-id="@item.Id"><button class="button adminButtons">Details</button></a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">
                            <button class="button adminButtons danger">
                                <span class="material-symbols-outlined">
                                    Delete
                                </span>
                                
                            </button>
                        </a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div class="admin-page-container">
    <a asp-page="Create"><button class="button">Add New Car</button></a>
</div>
