@page
@model FribergRentals.Pages.Admin.ManageContent.AppUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="card-center">
    <h1>Details</h1>
    <div class="card-text">
        <span class="input-label">
            @Html.DisplayNameFor(model => model.User.Email):
        </span>
        @Html.DisplayFor(model => model.User.Email)<br />

        <span class="input-label">
            @Html.DisplayNameFor(model => model.User.Password):
        </span>
        @Html.DisplayFor(model => model.User.Password)<br />
    </div>
</div>
<div class="button-row">
    <a asp-page="./Edit" asp-route-id="@Model.User.Id"><button class="button">Edit</button></a>
    <a asp-page="./Index"><button class="button">Back</button></a>
</div>
